<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/course">Courses</a>
      </li>
      <% if (profile?.admin) { %>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Users</a>
      </li>
       <% } %>
       <% if (profile) { %> 
      <li class="nav-item">
         <a class="nav-link" href="#" onclick="logout()">Logout</a>
         <%- include('../partials/logout'); %>
        </li>
        <% } %>
    </ul>
</nav>