<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container d-flex">
    <a href="/" class="nav-link" style="padding: 0px;"><h2  class="mr-auto p-2" style="color: rgb(70, 135, 221); padding: 0px;"><strong>Online Tutor</strong></h2></a>
    <ul class="navbar-nav p-2">
      <li class="nav-item">
        <a class="nav-link" href="/course">Courses</a>
      </li>
      <% if (profile?.admin) { %>
      <li class="nav-item">
        <a class="nav-link" href="/admin/users">Users</a>
      </li>
       <% } %>
        <% if (profile) { %> 
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="logout()">Logout</a>
            <%- include('../partials/logout'); %>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
        <% } %>
    </ul>
  </div>
</nav>